@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #010103;
  --black: #13131a;
  --main-color: #d3ad7f;
  --border: 0.1rem solid rgba(255,255,255,0.3)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010103;
    --black: #13131a;
    --main-color: #d3ad7f;
    --foreground: #ededed;
  }
}
*{
  transition: 0.2s linear;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2 linear;
  text-transform: capitalize;
  
}
section{
  max-width: 1200px;
  display: flex;
  padding: 3rem 2rem;
  margin: 0 auto;
}